body, hr{
    margin: 0px;
}
/* this helped me remember how to implement id */
/* w3schools.com/html/html_id.asp */
p, .non-header-link{
margin: 8px;
}
form{
    text-align: center;
}
.user-input{
    margin-bottom: 10px;
}

.listing-list{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 items per row */
    gap: 10px; /* space between items */
    padding: 0 10px;
}
.listing-list div {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

.listing-card {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    text-align: center;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}